.tindercard{
    width: 600px;
    height: 50vh;
    max-width: 85vw;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    border-radius: 10px;
}
.tindercards{
    display: flex;
    margin-top: 10vh;
    justify-content: center;
}
.swipe{
    position: absolute;
}
.tindercards h1{
    position: absolute;
    color: red; 
    bottom: 0;
    margin: 20px;
    font-size: 500;
    max-width: 50vw;
}